body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: #f4f4f4;
}
 
.container {
    width: 90%;
    margin: 0 auto;
    text-align: center;
}
 
.titulo-pagina {
    font-size: 32px;
    font-weight: bold;
    margin: 30px 0;
}
 
.cards {
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
}
 
.card {
    background: #fff;
    width: 300px;
    padding: 18px;
    border-radius: 16px;
    box-shadow: 0px 4px 20px rgba(0,0,0,0.1);
    text-align: center;
    transition: transform 0.2s ease;
}
 
.card:hover {
    transform: scale(1.03);
}
 
.card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 12px;
}
 
.nome {
    font-size: 20px;
    font-weight: bold;
    margin-top: 12px;
}
 
.desc {
    font-size: 16px;
    color: #444;
    margin-top: 5px;
}
 
.preco {
    font-weight: bold;
    margin-top: 15px;
    font-size: 18px;
    color: #333;
}
 
.card a {
    text-decoration: none;
    color: inherit;
}